body {
  padding: 5%; }

.sub {
  padding-left: 2%;
  margin-top: -3%; }

.top {
  margin-top: 5%;
  margin-bottom: 5%; }

.bottom {
  margin-top: 5%;
  margin-bottom: 5%; }

img {
  text-align: center; }

.left {
  float: left; }

.right {
  float: right; }
