h2, h4 {
  font-weight: 500; }

body {
  padding: 64px;
  font-family: 'Avenir Next', 'Avenir', sans-serif; }

.sub {
  margin-top: -3%; }

.top {
  margin-top: 5%;
  margin-bottom: 5%; }

.bottom {
  margin-top: 5%;
  margin-bottom: 5%; }

img.photo {
  text-align: center;
  width: 100%; }

.left {
  float: left; }

.right {
  float: right; }

.fa {
  font-size: 30px;
  float: right;
  display: none; }

#displayBudget::before {
  content: '$'; }

#top-title {
  font-weight: 500;
  font-size: 1.5em; }

#results h4 {
  padding-top: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
  border-top: 1px solid #29ACDD; }

#total hr {
  padding-top: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
  border-top: 1px solid #29ACDD; }

.container {
  max-width: 800px !important;
  min-width: 400px; }

.titles img {
  display: block;
  width: 36%;
  margin: 0 auto; }

.titles h2 {
  text-align: center;
  margin: 20px 0;
  color: #29ACDD; }

.titles h5 {
  text-align: center;
  font-size: 1.25em; }

#top-desc, #bottom-desc {
  text-indent: -4px; }

.total {
  border-top: 1px solid #29ACDD;
  margin-top: 25px;
  padding-top: 25px;
  text-align: center; }
  .total h6 {
    font-size: 1.5em; }
  .total h3 {
    font-size: 3em; }

.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px; }

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out; }

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s; }

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s; }

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s; }

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s; }

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4); }
  20% {
    -webkit-transform: scaleY(1); } }

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4); }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1); } }
